<header>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <br>
        <h1>Game of Thrones Graveyard</h1>

        <h2>In the Game of Thrones, you die... or you die</h2>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <img class="card-img-top" src="http://localhost:8080/public/assets/img/alive.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <img class="card-img-top" src="../public/assets/img/dead.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<ul>
  {{#each characters}} {{#unless sleepy}} {{> cats/cat-block sleep=true}} {{/unless}} {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}} {{#if sleepy}} {{> cats/cat-block sleep=false}} {{/if}} {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Sleepy?</label>
    <br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!
    <br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form>